.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  height: 500px;
  width: 500px;
  justify-content: center;
  border: 4px solid black;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
